/* Add CSS Styling */

.first {
    background-color: black;
    color: white;
}

.second {
    background-color: yellow;
}

/* Group selector - Group multiple classes to define common properties */
.first,
.second {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}